h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color:white;
    

}
* {
    background-color: black;
    text-align: center;
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 16px;

}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: gray;
}
img {
    align-items: center;
}
video{
    align-items: center;
}
#cpright {
    text-align: right;
    color: gray;
}